body {
  background-color: var(--grey);
  font-family: var(--body-font);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 2rem;
}

.section-title {
  font-style: italic;
}

.section-title h1 {
  font-size: 36px;
}

.section-title p {
  font-family: var(--inter-font);
  font-size: 16px;
}

.section-title::after {
  content: '';
  display: block;
  width: 175px;
  height: 1px;
  background-color: black;
}

.separation-vertical::after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.20);
  margin: 0 40px;
}

.services-list {
  height: 400px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.services-list > li {
  margin-bottom: 10px;
}

