/* Mobile (≤ 768px) */
@media (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1rem;
        margin-top: 1rem;
    }

    .card {
        height: 300px;
    }

    .section-title::after {
        content: '';
        display: block;
        width: 175px;
        height: 1px;
        background-color: black;
        margin: auto;
    }

    .section-title {
        text-align: center;
    }

    .history-part {
        display: block;
    }

    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .section-buttons {
        text-align: center;
    }

    .history {
        flex-direction: column;
        text-align: center;
    }

    .history-part {
        width: 100%;
    }

    .separation-vertical{
        background-color: rgba(0, 0, 0, 0.20);
        height: 1px;
        margin: 12px 0;
    }

    .content-show {
        flex-direction: column-reverse;
    }

    .content-right-show{
        /* position: inherit !important; */
        /* top: -50px !important; */
        margin-left: 0 !important;
        width: 100% !important;
        /* margin-bottom: 40px; */
    }

    .price-card{
        width: 100% !important;
    }

    .flat-photos-grid {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(1, 1fr) !important;
    }

    .content-left-show{
        position: relative;
        top: -50px;
    }

    .show-figure img{
        height: 200px !important;
    }

    #map {
        height: 350px;
    }

    .show-equipment {
        flex-direction: column;
    }

    .show-part {
        width: 100%;
    }

    .services-list {
        height: 100%;
        margin-bottom: 30px !important;
    }

    .show-left-part {
        width: 100% !important;
    }

    .show-right-part {
        /* position: absolute; */
        width: 100% !important;
    }
}