.show-figure img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.show-name {
    font-size: 1.5rem;
    color: var(--blue);
}

.price-card {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 
        0 0 0 1px rgba(27, 31, 35, 0.05),
        0 2px 8px 0px rgba(99, 99, 99, 0.2);
    padding: 15px;
}

.price-card-line {
    display: flex;
    justify-content: space-between;
}

.card-description-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

hr {
    margin: 10px 0;
    color: rgb(211, 211, 211)
}

.show-separation-vertical::after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.20);
  margin: 0 40px;
}

.show-photos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.join-button {
    position: relative;
    bottom: 0;
}

.join-button:hover {
    background-color: var(--light-blue);
}

.content-show {
    display: flex;
    justify-content: space-between;
}

.content-right-show {
    position: relative;
    top: -100px;
    margin-left: 40px;
    width: 400px;
    height: 100%;
}

.show-address {
    font-style: italic;
}

.flat-photos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.flat-photos-photo {
    height: 300px;
}

.flat-photos-photo {
    height: 300px;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 0 0.8rem 0 0;
    overflow: hidden;
    border: 1px solid #ccc;
}

.flat-photos-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.flat-photos-photo img:hover {
    transform: scale(1.1);
}

.show-equipment {
    display: flex;
    position: relative;
}

.show-description {
    margin-bottom: 10px;
}

.show-separation-vertical {

}

.show-left-part {
    width: 50%;
}

.show-right-part {
    /* position: absolute; */
    width: 50%;
}