<section class="max-w-[1728px] w-full px-6 sm:px-12 lg:px-[120px] xl:px-[140px] mx-auto">
  <header class="section-title">
    <h1>Modifier un appartement</h1>
  </header>
  <%= render "form", flat: @flat %>
</section>
