  <section class="w-full px-6 sm:px-12 lg:px-[120px] xl:px-[140px] mx-auto">
    <header class="section-title">
      <h1>Nos appartements</h1>
      <p>Des espaces pensés pour vivre pleinement</p>
    </header>

</div>