<section class="w-full px-6 sm:px-12 lg:px-[120px] xl:px-[140px] mx-auto">
  <header class="section-title">
    <h1>Créer un nouvel appartement</h1>
  </header>
  <%= render "form", flat: @flat %>
</section>