<footer class='mx-auto w-full flex flex-col px-[120px] py-[5vh] max-w-[2560px] mx-auto font-(family-name:--inter-font)'>
  <nav class='footer-nav py-10' aria-label="Pied de page">
    <div>
      <h2>NOS APPARTEMENTS</h2>
      <ul>
        <li><a href="#">L'Atelier des Maîtres</a></li>
        <li><a href="#">Le Salon des Lumières</a></li>
      </ul>
    </div>
    <div>
      <h2>À PROPOS</h2>
      <ul>
        <li><a href="#">Le concept</a></li>
        <li><a href="#">Qui sommes-nous</a></li>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div>
      <h2>PLAN DU SITE</h2>
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class='footer-social flex justify-between py-10'>
    <ul class='flex'>
      <li>FB</li>
      <li>INST</li>
      <li>LKDN</li>
    </ul> 
    <p>Made with 💙 by rztprog</p>
  </div>
</footer>
