<nav class="border-b border-gray-100 shadow-sm px-10 flex justify-center h-20">
  <div class="flex flex-col items-center justify-center">
    <%= link_to "Résidence Héritage", root_path, class: "navbar-title font-bold text-4xl font-normal uppercase" %>
    <%= link_to "Découvrez nos appartements en colocation", root_path, class: "navbar-link font-normal text-normal italic underline" %>
  </div>
</nav>