<section class="h-[calc(100vh)] py-28">
  <div class="container mx-auto">
    <div class="section-title">
      <h1>Plus qu'un logement, une expérience</h1>
      <h2>Un cadre de vie pensé pour le confort et l'élégance</h2>
    </div>
    <div class="cards bg-blue-500">
      <div class="card">
        <%= cl_image_tag('development/residenceheritage/card1',
          class: "") 
        %>
      </div>
      <div class="card">
        <%= cl_image_tag('development/residenceheritage/card2',
          class: "") 
        %>
      </div>
      <div class="card">
        <%= cl_image_tag('development/residenceheritage/card3',
          class: "") 
        %>
      </div>
    </div>
  </div>
</section>
<section class="h-[calc(100vh)] py-28 bg-(--beige)">
  <div class="container mx-auto">
    <div class="section-title">
      <h1>Nos appartements</h1>
      <h2>Des espaces pensés pour vivre pleinement</h2>
    </div>
  </div>
</section>
