<div class="mentions-legales font-(family-name:--inter-font) my-10 max-w-[1728px] w-full px-6 sm:px-12 lg:px-[120px] xl:px-[140px] mx-auto">
  <h2 class="color-(--blue)">Mentions légales</h2>
  <h3>Éditeur du site</h3>
  <p><strong>Résidence Héritage</strong></br>
  Édité par deux fondateurs passionnés</br>
  Le contenu du site est publié sous la responsabilité de la SCI Résidence Héritage.</br>
  Email : <a href="mailto:contact@residenceheritage.fr">contact@residenceheritage.fr</a></p>
  </br>
  <h3>Hébergement</h3>
  <p>Le site est hébergé par :</br>
  Render (<a href="https://render.com" target="_blank">https://render.com</a>)</p>
  </br>
  <h3>Nom de domaine</h3>
  <p>Géré par :</br>
  OVH (<a href="https://www.ovh.com" target="_blank">https://www.ovh.com</a>)</p>
  </br>
  <h3>Statut juridique</h3>
  <p>Société Civile Immobilière (SCI) - JLB</br>
  Numéro SIRET : 928 981 141 00015</p>
  </br>
  <hr>
  </br>
  <h2>Politique de confidentialité</h2>
  <p>Nous accordons une grande importance à la protection de vos données.</p>
  </br>
  <h3>Données collectées</h3>
  <p>Lorsque vous remplissez notre formulaire de contact, nous collectons :</p>
  <ul>
    <li>Votre nom</li>
    <li>Votre adresse email</li>
    <li>Votre message</li>
  </ul>
  <p>Ces données sont utilisées uniquement pour répondre à votre demande et ne sont/seront jamais transmises à des tiers.</p>
  </br>
  <h3>Durée de conservation</h3>
  <p>Les données sont conservées pendant une durée maximale de 12 mois.</p>
  </br>
  <h3>Sécurité</h3>
  <p>Les informations que vous nous transmettez sont protégées et stockées de manière sécurisée.</p>
  </br>
  <h3>Vos droits</h3>
  <p>Conformément au RGPD, vous pouvez demander à tout moment :</p>
  <ul>
    <li>L'accès à vos données</li>
    <li>Leur modification ou suppression</li>
  </ul>
  <p>Il vous suffit pour cela de nous écrire à : <a href="mailto:contact@residenceheritage.fr" class="text-(--blue) underline hover:text-blue-500">contact@residenceheritage.fr</a></p>
</div>