.breadcrumb {
    margin-top: 20px;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
}

.breadcrumb a {
    text-decoration: underline;
}

.breadcrumb a:hover {
    color: grey;
}
