footer > li {
    font-weight: bold;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.footer-nav {
    display: flex;
}

.footer-nav div {
    margin-right: 40px;
}

footer h2 {
    font-size: 22px;
    color: var(--blue);
}

.footer-social {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.footer-social i {
    font-size: 16px;
}

.footer-social ul {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a:hover {
    color: grey;
}

@media (max-width: 768px) {
    .footer-nav h2 {
        cursor: pointer;
    }

    .footer-nav > div {
        margin-bottom: 12px;
    }

    .footer-nav {
        flex-direction: column;
    }

    .footer-list {
        display: none;
    }
}