.form {
    /* color: blue; */
}

.field input,
.field textarea {
    /* background-color: var(--beige); */
    border: 1px solid var(--beige);
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    font-size: 1.2rem;
}

.field textarea {
    min-height: 150px;
}

.field input[type=number] {
    width: auto;
}

.field {
    margin-bottom: 8px;
}